.contact {
    margin-bottom: 150px;
}

.contact__title {
    position: relative;
    margin-bottom: 32px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.contact__title::before {

    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -35px;

    background-image: url('./resources/iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.contact__item a {
    text-decoration: none;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    color: #121212;

}


.contact__item_color {
    opacity: 0.5;
    border-bottom: 3px solid black;
    display: inline-block;
    margin-top: 30px;
    line-height: 61px;

}