@import "../projects.css";
@import "../header.css";
@import "../footer.css";
@import "../contact.css";
@import "../services.css";
@import "../interior.css";
@import "../hero.css";
@import "../about.css";



html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Manrope', sans-serif;
    background-color: #FFF;
    font-weight: 400;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 15px;

}

.projects__btn {
    width: 1150px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.9px;
    padding-bottom: 56px;
    padding-top: 56px;
    text-align: center;
    background: #FFF;
    color: #AD1818;
    border-radius: 5px;
    border: 1px solid #AD1818;


}


@media (max-width: 961px) {
    .container {
        padding-left: 17px;
        padding-right: 15px;
        width: 100%;
        /* background-color: greenyellow; */
    }

    .hero {
        margin-bottom: 120px;
    }

    .hero__title {
        width: 802px;
        font-size: 50px;
        letter-spacing: -1.5px;
        color: #323232;
        color: #000000;
    }

    .hero__box {

        width: 100%;
        height: 400px;
        block-size: cover;
        background-position: center;
    }

    .hero__text {
            bottom: 30px;
    }

    .about__text {
        width: 690px;
        font-size: 35px;
        letter-spacing: -1.05px;
    }

    .about {
        margin-bottom: 120px;
    }

    .projects {
        margin-bottom: 103px;
    }

    .projects__image {
        object-fit: contain;
    }

    .projects__list-title {
        font-size: 25px;
        letter-spacing: -0.75px;
        margin-bottom: 10px;
    }

    .projects__btn {
        width: 100%;
        margin: 0 auto;
    }

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        /* background-color: red; */
        padding-left: 13px;
        padding-right: 12px;
    }

    .hero {
        margin-bottom: 95px;
    }

    .hero__title {
        width: 348px;
        font-size: 30px;
        line-height: 31.621px;
        letter-spacing: -0.9px;
        margin-bottom: 25px;
    }

    .hero__box {
        /* height: 304px; */
        background-image: url('../resources/hero_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    .hero__text {
        width: 312px;
        font-size: 16px;
        letter-spacing: -0.48px;
        bottom: 15px;
        left: 15px;
    }

    .about__text {
        width: 100%;
        font-size: 22px;
        letter-spacing: -1.05px;
    }

    .about__btn {
        font-size: 16px;
        letter-spacing: -0.48px;
        padding: 15px 30px;
    }

    .about {
        margin-bottom: 80px;
    }

    .projects {
        margin-bottom: 144px;
    }

    .projects__title,
    .about__title {
        margin-bottom: 20px;
    }

    .projects__list-title {
        font-size: 25px;
        letter-spacing: -0.75px;
        margin-bottom: 11px;
        }

    .projects__btn {
        width: 100%;
        font-size: 22px;
        letter-spacing: -0.66px;
    }

    .projects__image-box {
        height: 250px;
    }

    .projects__image {
        height: 250px;
        margin-bottom: 20px;
        object-fit: cover;
    }
}